USE [master]
GO
/****** Object:  Database [MvcOkulDB]    Script Date: 14.08.2024 17:00:03 ******/
CREATE DATABASE [MvcOkulDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MvcOkulDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MvcOkulDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MvcOkulDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MvcOkulDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MvcOkulDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MvcOkulDB]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 14.08.2024 17:00:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DERSADI] [varchar](30) NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKULUPLER]    Script Date: 14.08.2024 17:00:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKULUPLER](
	[KULUPID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULUPAD] [varchar](30) NULL,
 CONSTRAINT [PK_TBLKULUPLER] PRIMARY KEY CLUSTERED 
(
	[KULUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 14.08.2024 17:00:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[DERSID] [tinyint] NULL,
	[OGRID] [int] NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[PROJE] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLAR] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCILER]    Script Date: 14.08.2024 17:00:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCILER](
	[OGRENCIID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](20) NULL,
	[OGRSOYAD] [varchar](20) NULL,
	[OGRFOTO] [varchar](200) NULL,
	[OGRCINSIYET] [varchar](5) NULL,
	[OGRKULUP] [tinyint] NULL,
 CONSTRAINT [PK_TBLOGRENCILER] PRIMARY KEY CLUSTERED 
(
	[OGRENCIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SIINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SINAV3]  DEFAULT ((0)) FOR [SINAV3]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_PROJE]  DEFAULT ((0)) FOR [PROJE]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_ORTALAMA]  DEFAULT ((0)) FOR [ORTALAMA]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER] FOREIGN KEY([OGRID])
REFERENCES [dbo].[TBLOGRENCILER] ([OGRENCIID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER]
GO
ALTER TABLE [dbo].[TBLOGRENCILER]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER] FOREIGN KEY([OGRKULUP])
REFERENCES [dbo].[TBLKULUPLER] ([KULUPID])
GO
ALTER TABLE [dbo].[TBLOGRENCILER] CHECK CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER]
GO
USE [master]
GO
